<?php

use JMS\Serializer\EventDispatcher\EventSubscriberInterface;
use JMS\Serializer\EventDispatcher\PreSerializeEvent;

/**
 * Class MyEventSubscriber
 */
class MyEventSubscriber implements EventSubscriberInterface
{
    /**
     * @return  array
     */
    public static function getSubscribedEvents()
    {
        return array(
            array(
                'event' => 'serializer.pre_serialize',
                'method' => 'onPreSerialize',
                'class' => 'AppBundle\\Entity\\SpecificClass', // if no class, subscribe to every serialization
                'format' => 'json', // optional format
                'priority' => 0,    // optional priority
            ),
        );
    }

    public function onPreSerialize(PreSerializeEvent $event)
    {
        // do something
    }
}
