<?php

use JMS\Serializer\ContextFactory\SerializationContextFactoryInterface;
use JMS\Serializer\SerializationContext;

/**
 * Class MySerializationContextFactory
 */
class MySerializationContextFactory implements SerializationContextFactoryInterface
{
    /**
     * {@inheritdoc}
     */
    public function createSerializationContext()
    {
        return new SerializationContext();
    }
}
