<?php

use JMS\Serializer\ContextFactory\DeserializationContextFactoryInterface;
use JMS\Serializer\DeserializationContext;

/**
 * Class MyDeserializationContextFactory
 */
class MyDeserializationContextFactory implements DeserializationContextFactoryInterface
{
    /**
     * {@inheritdoc}
     */
    public function createDeserializationContext()
    {
        return new DeserializationContext();
    }
}
