services:
  Chaos\Module\Lookup\Entity\LookupEntity:
    class:  Chaos\Module\Lookup\Entity\LookupEntity
    lazy:   true
    shared: false
  Chaos\Module\Lookup\Event\LookupListener:
    class:  Chaos\Module\Lookup\Event\LookupListener
    lazy:   true
    shared: false
  Chaos\Module\Lookup\Service\LookupService:
    class:  Chaos\Module\Lookup\Service\LookupService
    lazy:   true
  LookupEntity: '@Chaos\Module\Lookup\Entity\LookupEntity'
  LookupService: '@Chaos\Module\Lookup\Service\LookupService'
